color:
  r: 0.0
  g: 0.0
  b: 0.0
  a: 1.0
pos:
  x: 1.0
  y: 2.0
  z: 3.0
size:
  width: 1920
  height: 1080
rot:
  yaw: 24.0
  roll: 56.0
  pitch: 79.0
name: TestName
many_poss:
  - x: 1.0
    y: 2.0
    z: 3.0
  - x: 4.0
    y: 5.0
    z: 6.0
  - x: 7.0
    y: 8.0
    z: 9.0
many_colors:
  - green
  - red
  - blue
  - black
a_map:
  1:
    yaw: 1.0
    roll: 2.0
    pitch: 3.0
  2:
    yaw: 4.0
    roll: 5.0
    pitch: 6.0
  3:
    yaw: 7.0
    roll: 8.0
    pitch: 9.0
a_hasmap:
  one:
    width: 1
    height: 2
  two:
    width: 3
    height: 4
  three:
    width: 5
    height: 6
many_color:
  - r: 1.0
    g: 0.0
    b: 0.0
    a: 1.0
  - r: 0.0
    g: 1.0
    b: 0.0
    a: 1.0
  - r: 0.0
    g: 0.0
    b: 1.0
    a: 1.0
